@model Glav.PayMeBack.Core.Domain.DebtSummary

@{
	ViewBag.Title = "Pay Me Back - Summary";
}

@section ScriptHead {
	@Scripts.Render("~/SummaryPageJs")
}

<section class="clear-fix summary-action-menu" id="summary-action-menu">
    <ul>
        <li><a href="#" id="add-debt-link"><img src="~/Images/AddDebt.png" border="0" alt="Add Debt" title="Add Debt" /><span>Add Debt</span></a></li>
        <li><a href="#" id="set-notification-link"><img src="~/Images/NotificationAlert.png" border="0" alt="Notification Options" title="Notification Options" /><span>Notification Options</span></a></li>
        <li><a href="#" id="manage-profile-link"><img src="~/Images/AccountProfile.png" border="0" alt="Manage Account Profile" title="Manage Account Profile" /><span>Account Profile</span></a></li>
    </ul>
</section>

<section class="clear-fix debt-summary-section" id="debt-summary-section">
    
    @if (Model != null)
    {
        @Html.Partial("_DebtSummaryList", Model)
    }

</section>

@Html.Partial("_AddDebt")
@Html.Partial("_EditDebt")
@Html.Partial("_AddDebtPayment")
@Html.Partial("_NotificationOptions")
@Html.Partial("_AccountSettings")