@model Glav.PayMeBack.Core.Domain.DebtSummary
@using Glav.PayMeBack.Web.Helpers;

@using Glav.PayMeBack.Core.Domain;

	<h2>Summary of Debts</h2>
    
    <h3>Debts that are owed to you</h3>
    <div id="debts-owed-to-me">
        <h4>Total Amount to you: @Html.ToCurrencyDisplay(Model.TotalAmountOwedToYou)</h4>

        @if (Model.DebtsOwedToYou == null || Model.DebtsOwedToYou.Count == 0)
        {
            <h4>No Debts</h4>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th>Who</th>
                        <th>Amount</th>
                        <th>Started</th>
                        <th>Last Paid</th>
                        <th>Last Date of Payment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var debtItem in Model.DebtsOwedToYou)
                    {
                        <tr>
                            <td>@debtItem.UserWhoOwesDebt.EmailAddress</td>
                            <td>@Html.ToCurrencyDisplay(debtItem.AmountOwing)</td>
                            <td>@Html.ToDisplayDate(debtItem.StartDate)</td>
                            <td>@Html.ToDisplayDate(debtItem.LastPaymentDate)</td>
                            <td>@Html.ToCurrencyDisplay(debtItem.LastAmountPaid)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>

    <h3>Debts that you owe to others</h3>
    <div id="debts-owed-to-others">
        <h4>Total Amount by you: @Html.ToCurrencyDisplay(Model.TotalAmountYouOwe)</h4>

        @if (Model.DebtsYouOwe == null || Model.DebtsYouOwe.Count == 0)
        {
            <h4>No Debts</h4>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th>Who</th>
                        <th>Amount</th>
                        <th>Started</th>
                        <th>Last Paid</th>
                        <th>Last Date of Payment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var debtItem in Model.DebtsYouOwe)
                    {
                        <tr>
                            <td>@debtItem.UserWhoOwesDebt.EmailAddress</td>
                            <td>@Html.ToCurrencyDisplay(debtItem.AmountOwing)</td>
                            <td>@Html.ToDisplayDate(debtItem.StartDate)</td>
                            <td>@Html.ToDisplayDate(debtItem.LastPaymentDate)</td>
                            <td>@Html.ToCurrencyDisplay(debtItem.LastAmountPaid)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

